<div class="modal">

    <button class="modal__btn-close" data-modal-close>✕</button>

    <img class="modal__secondary-img" src="{{image}}" alt="{{name}}">

    <div class="modal__wrap">

        <img class="modal__img" src="{{image}}" alt="{{name}}">

        <ul class="modal__list">

            <li>
                <h2 class="modal__title">INFO</h2>
                <p class="modal__info">
                    {{info}}
                </p>
            </li>

            <li>
                <h2 class="modal__title">WHEN</h2>
                <p class="modal__info">
                    {{date}}
                </p>
            </li>

            <li>
                <h2 class="modal__title">WHERE</h2>
                <p class="modal__info">
                    {{city}}, {{country}}
                </p>
            </li>

            <li>
                <h2 class="modal__title">WHO</h2>
                <p class="modal__info">
                    {{name}}
                </p>
            </li>

            <li>
                <h2 class="modal__title">PRICES</h2>

                <ul>

                    <li>
                        <p class="modal__info">Standard</p>
                        <button class="modal__btn">
                            BUY TICKETS
                        </button>
                    </li>

                </ul>

            </li>

        </ul>

    </div>

    <button class="modal__btn-more">
        MORE FROM THIS AUTHOR
    </button>

</div>